Repository RedRightHand333/Caveman2Cosmos, changes with the labels that .github/labeler.yml gives for each.
All labels: dll, tool, xml, python

.github/labeler.yml:

dll: Sources/**/*

tool: Tools/**/*

xml: Assets/**/*.xml

python: Assets/Python/**/*

Icon improvements (resources, buildings, goods, fonts)
  Assets/res/Fonts/GameFont.tga
  Assets/res/Fonts/GameFont_75.tga
  UnpackedArt/art/craft/art/discountstore.dds
  UnpackedArt/art/craft/art/dyemaker.dds
  UnpackedArt/art/craft/art/tacohut.dds
  UnpackedArt/art/goods/goodcat.dds
  UnpackedArt/art/goods/gooddye.dds
  UnpackedArt/art/goods/goodnanotubes.dds
  UnpackedArt/art/goods/goodpoultry.dds
  UnpackedArt/art/interface/buttons/AtlasMapBonus.dds
  UnpackedArt/art/interface/buttons/bonus/co2_ice.dds
  UnpackedArt/art/interface/buttons/bonus/jade.dds
  UnpackedArt/art/interface/buttons/bonus/methane.dds
  UnpackedArt/art/interface/buttons/bonus/naturalgas.dds
  UnpackedArt/art/interface/buttons/bonus/tobacco.dds
  UnpackedArt/art/interface/buttons/buildings/bisontrainer.dds
  UnpackedArt/art/interface/buttons/buildings/dyefactory.dds
  UnpackedArt/art/interface/buttons/buildings/horseherd.dds
  UnpackedArt/art/vacation/art/unesco.dds
Labels: none

Draw picture frames around event images.
  UnpackedArt/art/event_images/bisonmigration.dds
  UnpackedArt/art/event_images/calledtoserve.dds
  UnpackedArt/art/event_images/camelmigration.dds
  UnpackedArt/art/event_images/cockfights.dds
  UnpackedArt/art/event_images/cometozion.dds
  UnpackedArt/art/event_images/cometozionprophet.dds
  UnpackedArt/art/event_images/compulsory_dem.dds
  UnpackedArt/art/event_images/earlymormonmissionaries.dds
  UnpackedArt/art/event_images/geothermal.dds
  UnpackedArt/art/event_images/girlsbestfriend.dds
  UnpackedArt/art/event_images/harry_potter.dds
  UnpackedArt/art/event_images/horsewhispering.dds
  UnpackedArt/art/event_images/iditarod.dds
  UnpackedArt/art/event_images/llamamigration.dds
  UnpackedArt/art/event_images/newworld.dds
  UnpackedArt/art/event_images/quicksand.dds
  UnpackedArt/art/event_images/sheriff.dds
  UnpackedArt/art/event_images/strike.dds
  UnpackedArt/art/event_images/super_virus.dds
  UnpackedArt/art/event_images/truthrestored.dds
Labels: none

fix(Crash): Protect unit mission
  Sources/CvUnitAI.cpp
Labels: dll

No longer assert on null delete.
  Sources/CvAllocator.cpp
Labels: dll

Null checks before delete
  Sources/CyPlayer.cpp
Labels: dll

fix(Combat): Incorrect behaviours reported for non combat units
  Sources/CvUnit.cpp
  Sources/CvUnit.h
Labels: dll

Fixed misleading tooltip for the Golden Age Start Mission
  Assets/XML/GameText/Mission_CIV4GameText.xml
Labels: xml
